<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <!-- BootStrap Javascript -->
    <script src="\uscc_api\static\bootstrap.min.js"></script>
    <title>U.S. Cellular Engineering API</title>
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="\static\usc_logo.jpg" width="30" class="d-inline-block align-top" alt="U.S. Cellular Logo">
        USCC Automation Login
    </a>
</nav>
<div class="jumbotron bg-success text-white">
    <h1 class="display-4">Login Successful {{ username }}</h1>
    <p>The automation interface you came from did not set the "referrer" parameter in the query string to allow you to be redirected back. Please navigate to the url you intended to manually. </p>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../../static/bootstrap.min.js"></script>
</body>
</html>