<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>U.S. Cellular Engineering</title>
</head>
<body>

    {% block content %}
        <h1>U.S. Cellular Imsi Tracking</h1>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.imsis.label }}
            {{ form.imsis(size=100) }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <p>
                    {{ message }}
                </p>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith%}
            {{ form.add_delete_radio.label }} {{form.add_delete_radio }}
            <br>
            {{ form.submit() }}
        </form>
    {% endblock %}


    <h2>List of Current Tracked Imsis</h2>
    {% if imsi_list %}
        {% for imsi in imsi_list.values() %}
        <li>{{imsi}}</li>
        {% endfor %}
    {% endif %}

</body>
</html>