<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>U.S. Cellular Engineering</title>
</head>
<body>
    <img src="static/usc_logo.jpg" alt="U.S. Cellular Logo" width="20%">
    {% block content %}
        <h1>
            Imsi Tracking and Email Management
        </h1>
        <p>How to add Imsis to be tracked.</p>
        <ul>
            <li>How to add Imsi(s) to be tracked:</li>
                <ul>
                    <li>Specify only the Imsi (e.g. 123456789) or with an identifier in () after the Imsi.</li>
                        <ul>
                            <li><strong>Example: 123456789(bob)</strong></li>
                        </ul>
                    <li>Add multiple Imsis at a time by using a comma separated string</li>
                        <ul>
                            <li>With or without an identifier</li>
                                <ul>
                                    <li><strong>123456789(andrew),987654321,147258369(bill)</strong></li>
                                </ul>
                        </ul>
                    <li>Delete an Imsi(s) from the list by only specifying the Imsi without the identifier:</li>
                        <ul>
                            <li>Example: <strong>123456789</strong> or <strong>123456789,987654321</strong></li>
                        </ul>
                </ul>
            <li>Add or delete emails by specifying each complete email address.</li>
                <ul>
                    <li><strong>Note: can only add or delete one email address per submission</strong></li>
                </ul>
        </ul>

        <form method="POST">
            {{ form.csrf_token }}
            {{ form.imsis.label }}
            {{ form.imsis(size=70) }}
            <p></p>
            {{ form.email.label }}
            {{ form.email(size=40) }}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <p>
                    {% if message == "This field is required." %}
                        {{ message }}
                    {% endif%}
                </p>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith%}
            {{ form.add_delete_radio.label }} {{form.add_delete_radio }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <p>
                            {% if message in "Not a valid choice" %}
                                {{ message }}
                            {% endif%}
                        </p>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {{ form.submit() }}
        </form>
    {% endblock %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <p>
            <h3>{{ message }}</h3>
        </p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;">
            <h2>List of Current Tracked Imsis</h2>
            <form method="GET">
                {{ form.imsi_filter.label }}
                {{ form.imsi_filter(size=50, placeholder='Search by Imsi or by Alias')}}
                <h5>To reset the list and clear the filter click "Submit" without a value.</h5>
                {{ form.submit() }}
                <p></p>
                {% if imsi_list %}
                    {% for imsi in imsi_list.values() %}
                        <div>
                            <ul style="list-style: none;">
                                <li>{{ imsi }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if art %}
                    {{ form.art(value=art) }}
                {% endif %}
                {% if userid %}
                    {{ form.userid(value=userid) }}
                {% endif %}

            </form>
        </div>
        <div style="margin-left: 640px;">
            <h1>
                Email Alarms
            </h1>
            <p>Below is the list of email addresses that are registered to receive the Imsi tracking email alerts</p>
            {% if email_list %}
                <div>
                    {% for email in email_list.values() %}
                        <ul style="list-style: none;">
                            <li>{{ email }}</li>
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

</body>
</html>