<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <title>NAS Dev Container Status</title>
</head>
<body>
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/static/usc_logo.jpg" width="30" class="d-inline-block align-top" alt="U.S. Cellular Logo">
            NAS Development Container Status
        </a>
    </nav>
    <div class="row mt-1">
        {% for container_name, container_status_data in cs.items() %}
            <div class="col-sm-6">
                <div class="card border-primary">
                    <div class="card-body">
                        {% if container_status_data.status == 'open' %}
                            <h5 class="card-title">NAS Platform {{container_status_data.display_name}} <span class="badge badge-success">{{container_status_data.status}}</span></h5>
                        {% else %}
                            <h5 class="card-title">NAS Platform {{container_status_data.display_name}} <span class="badge badge-danger">{{container_status_data.status}}</span></h5>
                        {% endif %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Time Frame: {{container_status_data.time_frame.start_date}} - {{container_status_data.time_frame.end_date}}</li>
                            <li class="list-group-item">Point of Contact: {{container_status_data.poc.name}} <a href="mailto:{{container_status_data.poc.email}}">{{container_status_data.poc.email}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/bootstrap.min.js"></script>
</body>
</html>