<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>U.S. Cellular Engineering API</title>
</head>
<body>
    <img src="static/usc_logo.jpg" alt="U.S. Cellular Logo" width="20%">
    {% block content %}
    <div align="center">
        <h1>U.S. Cellular<br>Engineering API Login</h1>
        <form method="POST">
            {{ form.csrf_token }}
            {{ form.username.label }}
            {{ form.username(size=25) }}
            <p>
            {{ form.password.label }}
            {{ form.password(size=25) }}
            </p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <p>
                    {% if message %}
                        {{ message }}
                    {% endif%}
                </p>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith%}
            {{ form.submit() }}
        </form>
    </div>
    {% endblock %}
</body>
</html>