<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <title>Network Health Report Status</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="/static/usc_logo.jpg" width="30" class="d-inline-block align-top" alt="U.S. Cellular Logo">
            Network Health Status
        </a>
    </nav>

        <div class="table-responsive">
        <table class="table table-striped table-sm table-hover table-bordered text-nowrap">
            <thead class="thead-light">
                <tr>
                    <th>InfoVista SVT Test</th>
                    <th>Asheville, NC</th>
                    <th>Cedar Rapids, IA</th>
                    <th>Clinton,NC</th>
                    <th>Columbia, OH</th>
                    <th>Congress Park, NH</th>
                    <th>Eureka, CA</th>
                    <th>Granite Hill, ME</th>
                    <th>Greenville, NC</th>
                    <th>Johnston, IA</th>
                    <th>Joplin, MO</th>
                    <th>Knoxville, TN</th>
                    <th>Lynchburg, VA</th>
                    <th>Madison, WI</th>
                    <th>Medford, OR</th>
                    <th>Menasha, WI</th>
                    <th>Morgantown, WV</th>
                    <th>New Berlin, WI</th>
                    <th>Oklahoma City, OK</th>
                    <th>Omaha, NE</th>
                    <th>Owasso, OK</th>
                    <th>Peoria, IL</th>
                    <th>Roanoke, VA</th>
                    <th>Rockford, IL</th>
                    <th>Salina, KS</th>
                    <th>Yakima, WA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{% if neh_status %}}
                        {{% for test_name, }}
                    {{% endif %}}
                    <th>1001-0-VoLTE-VoLTE_Call</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-warning"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1002-0-VoLTE-CDMA_Call</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-warning"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1003-0-0CDMA-CDMA_SMS M2M</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-warning"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1004-0-0CDMA-CDMA_Voice M2M</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-warning"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1010-0-CDMA_1xRTT WAP GET USCC homepage</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1012-0-CDMA_1xRTT Web Browse Google</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1021-0-CDMA_EVDO Web Browse Google</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1028-0-LTE_Web Browse Youtube</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1029-0-LET_Web Browse Google</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1030-0-LTE_Web Browse Apple</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1031-0-LTE_Web Browse Facebook</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1034-0-CDMA_Voice *228</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1035-0-LTE_Web Browse MUSC</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1036-0-LTE_Web Browse USC</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1037-0-CDMA_EVDO Web Browse MUSC</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>1038-0-CDMA_EVDO Web Browse USC</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>TC-59-135-VoLTE-CDMA SMS</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>TC-60-136-CDMA-VoLTE SMS</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>TC-58-134-VoLTE-VoLTE SMS</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
                <tr>
                    <th>108-4-VCDMA-VCDMA</th>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-success"></td>
                    <td class="table-danger"></td>
                </tr>
            </tbody>
        </table>
        </div>
    <!--<table class="table table-sm table-hover table-striped">-->
        <!--<thead class="thead-light">-->
            <!--<tr>-->
                <!--<th>InfoVista SVT Test Name</th>-->
                <!--<th>Asheville, NC</th>-->
                <!--<th>Cedar Rapids, IA</th>-->
                <!--<th>Clinton, NC</th>-->
                <!--<th>Columbio, OH</th>-->
                <!--<th>Congress Park, NH</th>-->
                <!--<th>Eureka, CA</th>-->
                <!--<th>Granite Hill, ME</th>-->
                <!--<th>Greenville, NC</th>-->
                <!--<th>Johnston, IA</th>-->
                <!--<th>Joplin, MO</th>-->
                <!--<th>Knoxville, TN</th>-->
                <!--<th>Lynchburg, VA</th>-->
                <!--<th>Madison, WI</th>-->
                <!--<th>Medford, OR</th>-->
                <!--<th>Menasha, WI</th>-->
                <!--<th>Morgantown, WV</th>-->
                <!--<th>New Berlin, WI</th>-->
                <!--<th>Oklahoma City, OK</th>-->
                <!--<th>Omaha, NE</th>-->
                <!--<th>Owasso, OK</th>-->
                <!--<th>Peoria, IL</th>-->
                <!--<th>Roanoke, VA</th>-->
                <!--<th>Rockford, IL</th>-->
                <!--<th>Salina, KS</th>-->
                <!--<th>Yakima, WA</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--<tr>-->
                <!--<th>1001-0-VoLTE-VoLTE_Call</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1002-0-VoLTE-CDMA_Call</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1003-0-CDMA-CDMA_SMS M2M</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1004-0-CDMA-CDMA_Voice M2M</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1010-0-CDMA_1xRTT WAP GET USCC homepage</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1012-0-CDMA_1xRTT Web Browse Google</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1021-0-CDMA_EVDO Web Browse Google</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1028-0-LTE_Web Browse Youtube</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1029-0-LET_Web Browse Google</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1030-0-LTE_Web Browse Apple</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1031-0-LTE_Web Browse Facebook</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1034-0-CDMA_Voice *228</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1035-0-LTE_Web Browse MUSC</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1036-0-LTE_Web Browse USC</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1037-0-CDMA_EVDO Web Browse MUSC</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>1038-0-CDMA_EVDO Web Browse USC</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>TC-59-135-VoLTE-CDMA SMS</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>TC-60-136-CDMA-VoLTE SMS</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>TC-58-134-VoLTE-VoLTE SMS</th>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<th>108-4-VCDMA-VCDMA</th>-->
            <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/bootstrap.min.js"></script>
</body>
</html>